* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Amatic SC", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 1280px;
    margin: auto;
}

.nav .container {
    height: 73px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    width: 100%;
    position: fixed;
    z-index: 2;
    background-color: white;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05),
        0px 1px 2px rgba(0, 0, 0, 0.10),
        0px 1px 5px rgba(0, 0, 0, 0.15),
        0px 3px 10px rgba(0, 0, 0, 0.20),
        0px 4px 15px rgba(0, 0, 0, 0.25);
}

.nav .container ul {
    display: flex;
    list-style: none;
    gap: 40px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.nav .container ul a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.nav .container .logo {
    display: flex;
    gap: 10px;
    align-items: center;

}

.nav .container .logo p {
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.nav .container .logo a {
    text-decoration: none;
}


.nav .container .logo img {
    width: 32px;
}

.landing {
    background-color: white
}

.landing .container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(763px - 73px);
}

.landing .container .left {
    width: 386px;
    height: 264px;
    gap: 0px;
    opacity: 0px;

}

.landing .container .left h1 {
    font-size: 96px;
}

.landing .container .left h3 {
    font-size: 36px;
    line-height: 45.4px;
    padding-bottom: 34px;
}

.landing .container .left .btn {
    display: flex;
    gap: 24px;
}

.landing .container .left .btn a button {
    text-decoration: none;
    cursor: pointer;
}

.landing .container .left .btn #menu-btn:hover {
    background-color: rgba(127, 62, 130, 1);
    transition: 0.3s
    ;
}
.landing .container .left .btn #log-btn:hover {
    background-color: rgba(127, 62, 130, 1);
    color: white
    ;
}
.left .btn:has(#log-btn:hover) #menu-btn {
    color: #b675b5;
    background-color: transparent;
    border: 1px solid #b675b5;
    transition: 0.5s;
}

/* when div1 is hovered make div2 blue
body:has(#div1:hover) #div2 {
    background: blue;
  }
  /* when div2 is hovered make div1 purple */
/*body:has(#div2:hover) #div1 {
    background: purple; */

.landing .container .left .btn button {
    width: 100px;
    height: 40px;
    padding: 24px, 32px, 24px, 32px;
    border-radius: 30px;
}

.landing .container .left .btn #menu-btn {
    color: white;
    background-color: rgba(182, 117, 181, 1);
    outline: none;
    border: none;
    font-size: 20px;
}

.landing .container .left .btn #log-btn {
    color: rgba(182, 117, 181, 1);
    border: 1px solid rgba(182, 117, 181, 1);
    background-color: transparent;
    outline: none;
    font-size: 20px;
}

.landing .container .right img {
    width: 459px;
}

.menu {
    background-color: rgba(182, 117, 181, 1);
    position: relative;

}

.menu .container {
    height: 1803px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
}

.menu .container h1 {
    font-size: 64px;
    display: inline-block;
    color: white;
    padding-top: 28px;
}

.menu .container h1::after {
    content: '';
    height: 3px;
    background: white;
    border-radius: 5px;
    display: block
}

.menu .container #desserts {
    font-size: 36px;
    color: white;
    padding-bottom: 48px;
}

.menu .container #menu-bg1 {
    position: absolute;
    width: 535.3px;
    height: 539.68px;
    transform: rotate(-6.49deg);
    top: 81px;
    right: 50px;
    filter: blur(3px);

}

.menu .container .up-dessert {
    display: flex;
    gap: 20px;
    height: 318px;

}

.menu .container .up-dessert .card {
    width: 225px;
    height: 317px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 20px 20px;
    z-index: 1;

}

.menu .container .up-dessert .card .card-img1 {
    background-color: transparent;
    width: 185px;
    height: 128px;
    border-radius: 10px;
    background-image: url(img/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.menu .container .up-dessert .card .card-img2 {
    background-color: transparent;
    width: 185px;
    height: 128px;
    border-radius: 10px;
    background-image: url(img/2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.menu .container .up-dessert .card .card-img3 {
    background-color: transparent;
    width: 185px;
    height: 128px;
    border-radius: 10px;
    background-image: url(img/3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.menu .container .up-dessert .card .card-img4 {
    background-color: transparent;
    width: 185px;
    height: 128px;
    border-radius: 10px;
    background-image: url(img/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.menu .container .up-dessert .card .price-img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 55px;
    height: 27px;
    border-radius: 50px;
    background-color: white;
    border: 1px solid rgba(182, 117, 181, 1);
    top: 134px;
    right: 25px;
}

.menu .container .up-dessert .card .text-card {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    gap: 8px;
}

.menu .container .up-dessert .card .text-card .text1 h2 {
    font-size: 20px;
    font-weight: bolder;
}

.menu .container .up-dessert .card .text-card .text2 h6 {
    font-size: 20px;
    font-weight: lighter;
}

.menu .container .up-dessert .card .btn-card {
    padding-top: 20px;
}

.menu .container .up-dessert .card .btn-card button {
    width: 185px;
    height: 30px;
    border-radius: 10px;
    color: white;
    background-color: rgba(182, 117, 181, 1);
    border: none;
}

.menu .container .down-dessert {
    display: flex;
    gap: 20px;
    height: 318px;
    padding: 28px;
}

.menu .container .down-dessert .card {
    width: 225px;
    height: 317px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 20px 20px;
}

.menu .container .down-dessert .card .card-img5 {
    background-color: transparent;
    width: 185px;
    height: 128px;
    border-radius: 10px;
    background-image: url(img/5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.menu .container .down-dessert .card .card-img6 {
    background-color: transparent;
    width: 185px;
    height: 128px;
    border-radius: 10px;
    background-image: url(img/6.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.menu .container .down-dessert .card .card-img7 {
    background-color: transparent;
    width: 185px;
    height: 128px;
    border-radius: 10px;
    background-image: url(img/7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.menu .container .down-dessert .card .card-img8 {
    background-color: transparent;
    width: 185px;
    height: 128px;
    border-radius: 10px;
    background-image: url(img/8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.menu .container .down-dessert .card .price-img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 55px;
    height: 27px;
    border-radius: 50px;
    background-color: white;
    border: 1px solid rgba(182, 117, 181, 1);
    top: 134px;
    right: 25px;
}

.menu .container .down-dessert .card .text-card {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    gap: 8px;
}

.menu .container .down-dessert .card .text-card .text1 h2 {
    font-size: 20px;
    font-weight: bolder;
}

.menu .container .down-dessert .card .text-card .text2 h6 {
    font-size: 20px;
    font-weight: lighter;
}

.menu .container .down-dessert .card .btn-card {
    padding-top: 20px;
}

.menu .container .down-dessert .card .btn-card button {
    width: 185px;
    height: 30px;
    border-radius: 10px;
    color: white;
    background-color: rgba(182, 117, 181, 1);
    border: none;
}

.menu .container #drinks {
    font-size: 36px;
    color: white;
    display: inline-block;
    padding-top: 70px;
    padding-bottom: 48px;
}

.menu .container #drinks::before {
    content: '';
    height: 3px;
    background: white;
    border-radius: 5px;
    display: block;
}

.menu .container #menu-bg2 {
    position: absolute;
    width: 309px;
    height: 311px;
    transform: rotate(-6.49deg);
    top: 891px;
    left: 140px;
    filter: blur(3px);
}

.menu .container .up-drinks {
    display: flex;
    gap: 20px;
    height: 318px;

}

.menu .container .up-drinks .card {
    width: 225px;
    height: 317px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 20px 20px;
    z-index: 1;

}

.menu .container .up-drinks .card .card-img1 {
    background-color: transparent;
    width: 185px;
    height: 128px;
    border-radius: 10px;
    background-image: url(img/a.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.menu .container .up-drinks .card .card-img2 {
    background-color: transparent;
    width: 185px;
    height: 128px;
    border-radius: 10px;
    background-image: url(img/b.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.menu .container .up-drinks .card .card-img3 {
    background-color: transparent;
    width: 185px;
    height: 128px;
    border-radius: 10px;
    background-image: url(img/c.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.menu .container .up-drinks .card .card-img4 {
    background-color: transparent;
    width: 185px;
    height: 128px;
    border-radius: 10px;
    background-image: url(img/d.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.menu .container .up-drinks .card .price-img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 55px;
    height: 27px;
    border-radius: 50px;
    background-color: white;
    border: 1px solid rgba(182, 117, 181, 1);
    top: 134px;
    right: 25px;
}

.menu .container .up-drinks .card .text-card {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    gap: 8px;
}

.menu .container .up-drinks .card .text-card .text1 h2 {
    font-size: 20px;
    font-weight: bolder;
}

.menu .container .up-drinks .card .text-card .text2 h6 {
    font-size: 20px;
    font-weight: lighter;
}

.menu .container .up-drinks .card .btn-card {
    padding-top: 20px;
}

.menu .container .up-drinks .card .btn-card button {
    width: 185px;
    height: 30px;
    border-radius: 10px;
    color: white;
    background-color: rgba(182, 117, 181, 1);
    border: none;
}

.menu .container .down-drinks {
    display: flex;
    gap: 20px;
    height: 318px;
    padding-top: 28px;

}

.menu .container .down-drinks .card {
    width: 225px;
    height: 317px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 20px 20px;
    z-index: 1;
}

.menu .container .down-drinks .card .card-img5 {
    background-color: transparent;
    width: 185px;
    height: 128px;
    border-radius: 10px;
    background-image: url(img/e.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.menu .container .down-drinks .card .card-img6 {
    background-color: transparent;
    width: 185px;
    height: 128px;
    border-radius: 10px;
    background-image: url(img/f.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.menu .container .down-drinks .card .card-img7 {
    background-color: transparent;
    width: 185px;
    height: 128px;
    border-radius: 10px;
    background-image: url(img/g.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.menu .container .down-drinks .card .card-img8 {
    background-color: transparent;
    width: 185px;
    height: 128px;
    border-radius: 10px;
    background-image: url(img/h.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.menu .container .down-drinks .card .price-img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 55px;
    height: 27px;
    border-radius: 50px;
    background-color: white;
    border: 1px solid rgba(182, 117, 181, 1);
    top: 134px;
    right: 25px;
}

.menu .container .down-drinks .card .text-card {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    gap: 8px;
}

.menu .container .down-drinks .card .text-card .text1 h2 {
    font-size: 20px;
    font-weight: bolder;
}

.menu .container .down-drinks .card .text-card .text2 h6 {
    font-size: 20px;
    font-weight: lighter;
}

.menu .container .down-drinks .card .btn-card {
    padding-top: 20px;
}

.menu .container .down-drinks .card .btn-card button {
    width: 185px;
    height: 30px;
    border-radius: 10px;
    color: white;
    background-color: rgba(182, 117, 181, 1);
    border: none;
}

.menu .container #menu-bg3 {
    position: absolute;
    width: 265px;
    height: 267px;
    transform: rotate(8.49deg);
    top: 1591px;
    right: 140px;
    filter: blur(3px);
}

.menu .container #wiew-all-btn {
    padding-top: 74px;

}

.menu .container #wiew-all-btn button {
    width: 254px;
    height: 40px;
    border-radius: 13.84px;
    border: none;
    font-size: 20px;
    color: rgba(127, 62, 130, 1);
    font-weight: bold;
}

.about-us .container {
    height: calc(100vh - 73px);
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.about-us .container h1 {
    font-size: 64px;
    color: black;
    display: inline-block;
    align-self: flex-start;
    margin-right: 120px;
}

.about-us .container h1::after {
    content: '';
    height: 2px;
    background: black;
    border-radius: 5px;
    display: block;
}


.about-us .container .left {
    display: flex;
    flex-direction: column;
    width: 486px;
    order: -1;
}

.about-us .container .left h2 {
    font-size: 96px;
    padding-bottom: 8px;
}

.about-us .container .left p {
    font-size: 32px;
    padding-bottom: 48px;
}

.about-us .container .left .btn-about ul {
    display: flex;
    flex-direction: row;
    gap: 24px;
    list-style: none;
    font-size: 24px;
}

.about-us .container .left .btn-about ul a {
    text-decoration: none;
    color: rgba(182, 117, 181, 1);
}

.about-us .container .left .btn-about ul a img {
    width: 27px;
    padding-right: 9px;
}

.about-us .container .left .btn-about {
    padding-bottom: 45px;
}

.about-us .container .right img {
    width: 362px;
    height: 415px;
    border-radius: 15px;
    border: 10px solid rgba(182, 117, 181, 1);
    margin-bottom: 17px;
}

.about-us {
    position: relative;
}

.about-us .footer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    bottom: 0px;
    width: 100%;
    height: 110px;
    background-color: rgba(182, 117, 181, 1);
}

.about-us .footer .left {
    display: flex;
    gap: 9px;
}

.about-us .footer .left h1 {
    font-size: 36px;
    color: white;
    font-weight: 700;
    align-self: center;

}

.about-us .footer .left #left-footer-icn {
    width: 46px;
    height: 46px;
    align-self: center;

}

.about-us .footer .right {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.about-us .footer .right ul {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 24px;
    gap: 32px;
}

.about-us .footer .right ul a {
    text-decoration: none;
    color: white;
}

.about-us .footer .right ul a li img {
    width: 21px;
}

.about-us .footer .right .copy {
    display: flex;
    gap: 15px;
    padding-left: 5px;
}

.about-us .footer .right .copy p {
    font-size: 20px;
    color: white;
}